language: python
python: "3.7"
dist: xenial

env:
  - KAGGLE_CONFIG_DIR="${TRAVIS_BUILD_DIR}"  

stages:
  - lint
  - test
  - name: release
    if: tag IS present

cache:
  paths:
    - .venv

before_install:
  - bin/check_version
  - export POETRY_VERSION="1.0.3"
  - curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | python
  - source $HOME/.poetry/env

install:
  - poetry config virtualenvs.in-project true
  - poetry install -v

jobs:
  include:
    - stage: lint
      script:
        - make lint
    - stage: test
      python:
        - "3.7"
        - "3.8"
      script:
        - poetry run pytest --cov=connect_x --cov-report term-missing tests/
        - poetry run codecov
    - stage: release
      before_script:
        - bin/check_release "${TRAVIS_TAG}"
        - poetry run python bin/validate_submission
        - echo "${KAGGLE_API_TOKEN}" | base64 -d > kaggle.json
      script:
        - bin/submit "${TRAVIS_TAG}"
